@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090D1F;
  --foreground: #FFFFFF;
}

/* Font Faces */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype'),
    url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}




body {
  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  font-style: normal;

  font-family: 'Inter';


}

/* Estilo base (pantallas pequeñas) */
#title {
  font-size: 30px;
  /* Font size base */
}

/* Pantallas medianas (Tablets, 768px) */
@media (min-width: 768px) {
  #title {
    font-size: 50px;
    /* Aumentar ligeramente */
  }
}

/* Pantallas grandes (Laptops, 1024px) */
@media (min-width: 1024px) {
  #title {
    font-size: 100px;
    /* Mayor legibilidad */
  }
}

/* Pantallas extra grandes (Desktop, 1440px) */
@media (min-width: 1440px) {
  #title {
    font-size: 120px;
    /* Tamaño cómodo */
  }
}


/*Aquí definimos el estilo de la clase .markdown-content que se aplicará a los elementos de Markdown en nuestra aplicación.*/

.markdown-content {
  /* Fuente limpia y legible */
  line-height: 1.6;
  /* Espaciado entre líneas para mejor lectura */
  /* Color de texto */
  padding: 1rem;
  /* Espaciado interno */
  /* Fondo blanco */
  border-radius: 8px;
  /* Bordes redondeados */

  max-width: 800px;
  /* Ancho máximo */
  margin: 0 auto;
  /* Centrado */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.markdown-content h1 {
  font-size: 2rem;
  /* Color azul para el encabezado principal */
  border-bottom: 2px solid;
  /* Línea debajo del título */
  padding-bottom: 0.5rem;
}

.markdown-content h2 {
  font-size: 1.75rem;

}

.markdown-content h3 {
  font-size: 1.5rem;

}

.markdown-content p {
  margin-bottom: 1rem;
  font: 1em source-serif-pro, serif;
}



.markdown-content a:hover {
  text-decoration: underline;
  /* Subrayado al pasar el mouse */
}

.markdown-content ul,
.markdown-content ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

.markdown-content ul li {
  list-style-type: disc;
}

.markdown-content ol li {
  list-style-type: decimal;
}

.markdown-content blockquote {
  margin: 1rem;
  padding: 1rem 1rem 0.2rem 1rem;
  border-left: 4px solid #c4c3c3;
  background-color: #242535;
  color: #666;
  font-style: italic;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  /* Bordes redondeados en imágenes */
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.markdown-content th,
.markdown-content td {
  border: 1px solid #eaeaea;
  padding: 0.5rem;
  text-align: left;
}

.markdown-content th {
  background-color: #242535;
  font-weight: bold;
}

.markdown-content code {
  background-color: #242535;
  padding: 0.2rem 0.4rem;

  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

.markdown-content hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid
}

.markdown-content a {
  color: #0077cc;
  text-decoration: none;
}

.markdown-content pre {
  background-color: #242535;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
}